@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
}
body{
    background-color: #ffffff;
}
nav{
    width: 100%;
    height: 150px;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border-bottom: 0.0001px solid #695de8; */
    padding: 30px;
}
#navbtns {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px;
    /* background-color: antiquewhite; */
}
#navbtns a{
    /* padding: 10px; */
    /* background-color:#695de8 ; */
    color: #695de8;
    text-decoration: none;
    border-radius: 15px;
    /* color: aliceblue; */
    font-size: 30px;
    margin-right: 20px;

}
#navimg {
    width: 50px;
    height: 30%;
    /* background-color: blue; */
    /* padding-bottom: 45px; */
}
#navimg img{
    width:100%;
}

#msg{
    margin-top: 25px;
    width: 100%;
    height: 60px;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
}
#msg span{
    font-size: 25px;
}


#hiform{
    width: 100%;
    margin: 30px 0px;
    /* height: 500px; */
    /* background-color: blueviolet; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.form-container {
    width: 40%;
    background: white;
    border: 2px solid transparent;
    padding: 32px 24px;
    font-size: 14px;
    font-family: inherit;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    border-radius: 16px;
    background-size: 200% 100%;
    animation: gradient 5s ease infinite;
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
  
    50% {
      background-position: 100% 50%;
    }
  
    100% {
      background-position: 0% 50%;
    }
  }
  
  .form-container button:active {
    scale: 0.95;
  }
  
  .form-container .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .form-container .form-group {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
  
  .form-container .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #000000;
    font-weight: 600;
    font-size: 12px;
  }
  
  .form-container .form-group input {
    width: 100%;
    padding: 12px 16px;
    border-radius: 8px;
    color: black;
    font-family: inherit;
    background-color: transparent;
    border: 1px solid #414141;
  }
  
  .form-container .form-group textarea {
    width: 100%;
    padding: 12px 16px;
    border-radius: 8px;
    resize: none;
    color: black;
    height: 96px;
    border: 1px solid #414141;
    background-color: transparent;
    font-family: inherit;
  }
  
  .form-container .form-group input::placeholder {
    opacity: 0.5;
  }
  
  .form-container .form-group input:focus {
    outline: none;
    border-color: #e81cff;
  }
  
  .form-container .form-group textarea:focus {
    outline: none;
    border-color: #e81cff;
  }
  
  .form-container .form-submit-btn {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    align-self: flex-start;
    font-family: inherit;
    color: white;
    font-weight: 600;
    width: 100%;
    background: #634fe4;
    border: 1px solid #414141;
    padding: 12px 16px;
    font-size: inherit;
    gap: 8px;
    margin-top: 8px;
    cursor: pointer;
    border-radius: 6px;
  }
  
  .form-container .form-submit-btn:hover {
    background-color: #545eeb;
    border-color: #6776c9;
    color: #000000;
  }
  
  
  @media (max-width:750px) {
    #hiform{
      width: 100%;
      padding:10px;
    }
    .form-container{
      width: 100%;
    }
  }
  