@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
}

i {
    font-size: 35px;
    color: rgb(22, 25, 45);
}

body {
    height: 100%;
    width: 100%;
    background-color: #e2e2e2;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}




.section {
    width: 100%;
    height: 60px;
    margin-top: 0px;
}


.nav {
    width: 100%;
    height: 45px;
    /* background-color: #39a2db; */
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
}

#navbar {
    width: 85%;
    height: 95%;
    background-color: white;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#navbar ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    padding: 8px;
    flex-wrap: wrap;
    /* gap: 8px; */
}

#navbar li {
    /* background-color: #c4beff; */
    width: 20%;
    /* height: 32px; */
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 5px; */
    gap: 20px;
}

#navbar a {
    color: black;
    /* width: 80px; */
    text-decoration: none;
    font-size: 17px;
    font-weight: 550;
    /* background-color: #646677; */
    padding: 5px 8px;
    border-radius: 15px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
}

#navbar a.active {
    width: 100%;
    background-color: #c4beff;
    font-weight: 650;
}






.intro {
    width: 100%;
    /* height: 650px; */
    /* background-color: #695de8; */
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-top: 20px;
    /* gap: 10px; */
}

#introhead {
    /* height: 50px; */
    width: 85%;
    /* background-color: antiquewhite; */
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#introhead span {
    font-size: 40px;
    /* font-weight: bolder; */
    color: #110f23;
    display: flex;
    justify-content: center;
    /* font-weight: 900; */
}

#introsubhead {
    /* height: 30px; */
    width: 85%;
    /* background-color: antiquewhite; */
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#introsubhead span {
    font-size: 18px;
    color: #110f23;
    font-weight: 500;
}

#introimg {
    /* height: 80px; */
    width: 85%;
    /* background-color: antiquewhite; */
    margin-top: 70px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

#introimg p {
    color: #a096ff;
    font-weight: bold;
}

#introbtn {
    width: 85%;
    height: 40px;
    /* background-color: #1a2486; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-bottom: 50px;
}

#introbtn a {
    color: black;
    padding: 0.7em 1.7em;
    font-size: 11px;
    border-radius: 0.5em;
    
    cursor: pointer;
    border: 1px solid #2922f7;
    transition: all 0.3s;
    /* display: inline-block; */
    text-decoration: none;
    border: 1px solid #2922f7;
    font-weight: 500;
    background-color: #695de8;
    color: white;
    /* box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff; */
}

#introbtn a:hover {
    border: 1px solid #2922f7;
    background: #ffffff;
    color: black;
}

#introbtn a :active {
    box-shadow: 4px 4px 12px #c5c5c5, -4px -4px 12px #ffffff;
}




.projects {
    width: 100%;
    margin-top: 40px;
    background-color: #695de8;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding-bottom: 45px;
}

#prjtabout {
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}

#prjtaboutspan {
    width: 90%;
    padding-left: 20px;
}

#prjtaboutspan p,
#prjtaboutspan i {
    font-size: 25px;
    color: white;
    font-weight: bolder;
    margin-bottom: 15px;
}

#prjtaboutspan span {
    font-size: 18px;
    color: white;
    font-weight: 500;
    /* background-color:#a498ff; */
}

#prjtboxcontainer {
    margin-top: 25px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#projectboxes {
    width: 300px;
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: center;
}

#projectbox {
    width: 300px;
    height: 360px;
    background-color: rgb(246, 247, 250);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#projectboxholder {
    width: 95%;
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    align-items: center;

}

#prjtboxhead {
    width: 92%;
    height: 30px;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#prjtboxhead p {
    font-size: 12px;
    font-weight: 800;
}

.livebtn {
    outline: 0;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    background: #1a2486;
    min-width: 30px;
    border: 0;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .1);
    box-sizing: border-box;
    padding: 8px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    overflow: hidden;
    cursor: pointer;
}

.livebtn a{
    text-decoration: none;
    color: #fff;
    font-size: 7.5px;
    font-weight: 600;
}
.livebtn:hover {
    opacity: .95;
}

.livebtn .animation {
    border-radius: 100%;
    animation: ripple 0.6s linear infinite;
}

@keyframes ripple {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1);
    }

    100% {
        box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1), 0 0 0 80px rgba(255, 255, 255, 0);
    }
}


#prjtboximg {
    margin-top: 10px;
    height: 134px;
    width: 92%;
    background-color: burlywood;
    display: flex;
    justify-content: center;
    align-items: center;
    border: rgb(145, 135, 222) solid 3.5px;
    border-radius: 10px;
}

#prjtboximg img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

#prjtboxdescription {
    margin-top: 15px;
    width: 92%;
    height: 100px;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#prjtboxdescription span {
    font-size: 13px;
    font-weight: bolder;
    border-bottom: #000000 2px;
}
#prjtboxdescription p{
    font-size: 12px;
    font-weight: 500;
}

#prjtcode {
    /* margin-top: px; */
    width: 92%;
    height: 35px;
    /* background-color: antiquewhite; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
}
#prjtcode a i{
    /* margin-top: 5px; */
    font-size: 31px;
    color: #131c5f;
    /* background-color: #110f23; */
}

#prjtmore {
    width: 100%;
    height: 50px;
    /* background-color: darkblue; */
    display: flex;
    align-items: center;
    justify-content: end;
    margin-top: 15px;
    margin-bottom: 20px;
    padding: 20px;
}

.cssbuttons-io-button {
    background: #695de8;
    color: white;
    font-family: inherit;
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 10px;
    font-weight: 800;
    border-radius: 8px;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em #714da6;
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3.3em;
    cursor: pointer;
    width: 74px;
}

.cssbuttons-io-button a{
    text-decoration: none;
}

.cssbuttons-io-button .icon {
    background: white;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em #7b52b9;
    right: 0.3em;
    transition: all 0.3s;
}

.cssbuttons-io-button:hover .icon {
    width: calc(100% - 0.6em);
}

.cssbuttons-io-button .icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: #7b52b9;
}

.cssbuttons-io-button:hover .icon svg {
    transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon {
    transform: scale(0.95);
}










.skills {
    margin-top: 140px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 130px;
    /* background-color: #39a2db; */
    border-bottom: 100px;
}

#skillsabout {
    width: 600px;
    /* height: 600px; */
    /* background-color: blueviolet; */
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 20px;
    margin-bottom: 70px;

}

#skillabouttittle {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: start;
    /* padding-left: 20px; */
}

#skillabouttittle p,
#skillabouttittle i {
    color: #695de8;
    font-size: 25px;
    font-weight: 800;
}

#skillaboutdescription {
    width: 100%;
    /* height: 350px; */
    /* background-color: #1a2486; */
    margin-top: 20px;
}

#skillaboutdescription span {
    font-size: 20px;
    color: #695de8e2;
    font-weight: 700;

}

#skillspannel {
    /* width: 60%; */
    /*height: 100%; */
    background-color: #c4beff;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

#skillboxcontainer {
    /* margin: 200px; */
    /* width: 880px;
    height: 610px; */
    display: flex;
    /* gap: px; */
}

#skillboxesa,
#skillboxesb {
    width: 360px;
    height: 440px;
    /* background-color: #1a2486; */
    padding: 10px;
}

#skillboxesa {
    display: flex;
    justify-content: end;
    align-items: end;
    flex-direction: column;
    gap: 20px;

}

#skillboxesb {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 20px;
}

#skillbox1,
#skillbox3 {
    height: 130px;
    width: 90%;
    background-color: #a6aadd;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

#skillbox2,
#skillbox4 {
    height: 320px;
    width: 70%;
    background-color: #a6aadd;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

#skilldetaila {
    width: 38%;
    height: 95%;
    background-color: #d5d3ee;
    border-radius: 20px;

}

.skillimagea {
    height: 98%;
    width: 60%;
    background-color: #dcdcdc;
    border-radius: 20px;
    padding: 8px;
}

#skilldetailb {
    height: 40%;
    width: 100%;
    background-color: #d5d3ee;
    border-radius: 20px;

}

.skillimageb {
    height: 55%;
    width: 100%;
    /* background-color: #dcdcdc; */
    border-radius: 20px;
    padding: 10px;

}

#skillboxesa img,
#skillboxesb img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

#skilldetaila {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    padding: 10px;
}

#skilldetaila span {
    color: black;
    font-size: 10px;
    font-weight: 600;
}

#skilldetailb {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    padding: 10px;
}

#skilldetailb span {
    color: black;
    font-size: 10px;
    font-weight: 600;
}

#skilldetailb p {
    color: black;
    font-size: 9px;
}

#skillboxcontainer i {
    color: #695de8;
    font-size: 30px;
}


#section4 {
    height: 370px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-top: 1px solid red; */
}



.contact {
    /* margin-bottom: 80px; */
    height: 50px;
    width: 100%;
    background-color: #695de8;
    display: flex;
    align-items: center;
    justify-content: center;
}

#contactbox {
    width: 70%;
    height: 140px;
    background-color: #1f1c2f;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 3%;
    border-radius: 13px;
}

#contacttittle {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: blanchedalmond; */
}

#contacttittle p {
    font-size: 25px;
    color: #dcdcdc;
    font-weight: 850;
    font-family: "eurostile", sans-serif;
}

#contactmoto {
    width: 39%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    /* background-color: chocolate; */
}

#contactmoto p {
    font-size: 14px;
    color: #dcdcdc;
    font-weight: 500;
}

#contactbutton {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: cadetblue; */
}

#cntctbutton {
    appearance: none;
    background-color: transparent;
    border: 0.125em solid #6E07F3;
    border-radius: 0.9375em;
    box-sizing: border-box;
    text-decoration: none;
    color: #ffffff;
    font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 12px;
    font-weight: 00;
    line-height: normal;
    cursor: pointer;
    display: inline-block;
    margin: 0;
    min-height: 3.75em;
    min-width: 0;
    outline: none;
    padding: 1em 2.3em;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
}

#cntctbutton:disabled {
    pointer-events: none;
}

#cntctbutton:hover {
    color: #fff;
    background-color: #5001c0;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

#cntctbutton:active {
    box-shadow: none;
    transform: translateY(0);
}












.footer {
    width: 100%;
    height: 500px;
    background-color: #695de8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px;
}

#footerlogo {
    height: 50px;
    width: 100%;
    /* background-color: #f85959; */
    display: flex;
    justify-content: center;
    align-items: center;
}

#footerlogo i {
    font-size: 40px;
    color: #ffffff;
}


#footermoto {
    height: 100px;
    width: 100%;
    /* background-color: #f85959; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#footermoto p {
    font-size: 22px;
    font-style: italic;
    font-weight: 600;
    color: #e2e3f3;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#footericons {
    height: 40px;
    width: 100%;
    /* background-color: #f85959; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

#footericons i {
    font-size: 25px;
    color: rgb(237, 235, 249);
    font-weight: 500;
}

#footericons i:hover {
    font-size: 26px;
    color: rgb(255, 255, 255);
    font-weight: 600;
}

#footertittle {
    height: 40px;
    width: 100%;
    /* background-color: #f85959; */
    display: flex;
    justify-content: center;
    align-items: center;
}

#footertittle span {
    color: #e5e5f6;
    font-size: 15px;
    font-weight: 600;
}

#footersubtittle {
    height: 20px;
    width: 100%;
    /* background-color: #f85959; */
    display: flex;
    justify-content: center;
    align-items: center;
}

#footersubtittle span {
    color: #d7d9f7;
    font-size: 12px;
    font-weight: 700;
}