@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
}

nav {
  width: 100%;
  height: 120px;
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border-bottom: 0.0001px solid #695de8; */
  padding: 30px;
}

#navbtns {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 10px;
  /* background-color: antiquewhite; */
}

#navbtns a {
  /* padding: 10px; */
  /* background-color:#695de8 ; */
  color: #695de8;
  text-decoration: none;
  border-radius: 15px;
  /* color: aliceblue; */
  font-size: 30px;
  margin-right: 20px;

}

#navimg {
  width: 50px;
  height: 30%;
  /* background-color: blue; */
  /* padding-bottom: 45px; */
}

#navimg img {
  width: 100%;
}

#msg {
  margin-top: 25px;
  width: 100%;
  height: 60px;
  /* background-color: aqua; */
  display: flex;
  justify-content: center;
  align-items: center;
}

#msg span {
  font-size: 25px;
}


#hiform {
  width: 100%;
  height: 500px;
  /* background-color: blueviolet; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  position: relative;
}

.title {
  font-size: 22px;
  color: royalblue;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 20px;
  margin-bottom: 20px;
}

.title::before,
.title::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: royalblue;
  margin-left: 5px;
}

.title::before {
  width:  10px;
  height: 10px;
  background-color: royalblue;
}

.title::after {
  width:  10px;
  height: 10px;
  animation: pulse 1s linear infinite;
}

.form label {
  position: relative;
}

.form label .input {
  width: 100%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid rgba(100, 142, 176, 0.397);
  border-radius: 10px;
  font-weight: 550;
}


#msginput{
  height: 150px;
}

.form label .input:valid+span {
  color: green;
}

.submit {
  border: none;
  outline: none;
  background-color: royalblue;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  transform: .3s ease;
}

.submit:hover {
  background-color: rgb(56, 90, 194);
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}

@media (max-width:750px) {

  .form {
    width: 100%;
    padding: 20px;
    max-width: 465px;
  }
  #msg span {
    font-size: 16px;
  }
}